#!/usr/bin/make -f

export DH_VERBOSE=1

PKG:=ywen-deb-pkg-renaming-pkg2

override_dh_auto_install:
	install -d 'debian/$(PKG)/usr/bin'
	cp -Rdu -v -t 'debian/$(PKG)/usr/bin' src/*.*

%:
	dh $@

# vim: set noexpandtab shiftwidth=4:
